body{
    font-style: italic;
    background-color: aqua;
}
.main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: #ff0000;
}
h2{
    margin-top: 0px;
    color: yellow;
}
.encabezado{
    color: white;
    background-color: rgb(9, 247, 255);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 5px 10px black;
}