body{
    font-style: italic;
    background-color: aqua;
}
.main{
    width: 80%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: #f0f0f0;
}
h2{
    margin-top: 0px;
    color: rgb(255, 17, 0);
}
.encabezado{
    color: rgba(0, 0, 0, 0.788);
    background-color: rgb(9, 255, 234);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 5px 10px black;
}
<<<<<<< HEAD
h3{
    color: red;
}
=======
.final {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff88ff;
}
.navi{
    display: flex;
    flex-wrap: wrap;
   
    list-style: none;
}
ul{
   
}
li{
    margin: 2rem 2rem 2rem 2rem;
    font: 1em sans-serif;
}
@media (min-width: 768px) {
    li{
        margin: 2rem 10rem 2rem 10rem;
        font: 1em sans-serif;
    }
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

>>>>>>> footer
