body{
    font-style: italic;
    background-color: aqua;
}
.main{
    width: 60%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: #f1f1f1;
}
h2{
    margin-top: 0px;
    color: yellow;
}
.encabezado{
    background-color: rgb(11, 28, 184);
    color: aqua;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 5px 10px black;
}
h3{
    color: red;
}